  :root {
    --width: 720px;
    --font-main:-apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
    --font-secondary:-apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
    --font-scale: 1em;
    --background-color: #fff;
    --heading-color: #444;
    --text-color: #444;
    --link-color: #0969da;
    --visited-color: #8b6fcb;
	--code-background-color: #e8eaea;
    --blockquote-color: #fff;
  }

body {font-family: var(--font-secondary);font-size: var(--font-scale);
    margin: auto;padding: 20px;max-width: var(--width);
    text-align: left;background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;color: var(--text-color);}
h1,  h2,  h3,  h4,  h5,  h6 {font-family: var(--font-main);color: var(--heading-color);}
a {color: var(--link-color);cursor: pointer;text-decoration: none;}
a:hover {text-decoration: underline;}
nav a {margin-right: 22px;}
nav hr {border: 0;border-top: 1px solid #f2f2f2;margin: 0.5rem 0;}
strong,  b {color: var(--heading-color);}
button {margin: 0;cursor: pointer;}
time {font-family: monospace;font-style: normal;font-size: 15px;}
  main {line-height: 1.8;}
table {width:98%;border-collapse: collapse;margin: 20px 0;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);background-color: white;}
th {background-color: #b3d7b3;color: white;font-weight: bold;font-size:18px;}
tr:nth-child(even) {background-color: #f6f6f6;}
tr:hover {background-color: #e9e9e9;}
hr {border: 0;border-top: 1px solid #eaecef;margin: 1rem 0;}
img {margin: 20px 0;max-width: 100%;max-height: 600px;border: 1px solid #eee;padding: 5px;}
code {padding: 4px 10px 4px 10px;margin: 5px;border-radius: 5px;background-color: var(--code-background-color);}
blockquote {margin: 1rem 0;padding: 0.2rem 1rem 0.2rem 1.2rem;border-left: 5px solid #dadada;background-color:#f9f9f9;border-radius: 0 2px 2px 0;}
footer {padding: 25px 0;text-align: center;}
.title:hover {text-decoration: none;}
.title h1 {font-size: 1.5em;font-weight: 700;line-height: 1.1;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;}
.inline {width: auto !important;}
.highlight,
.code {border-radius: 3px;margin-block-start: 1em;margin-block-end: 1em;overflow-x: auto;}
  /* blog post list */
ul.blog-posts {list-style-type: none;padding: unset;}
ul.blog-posts li {display: flex;}
ul.blog-posts li span {flex: 0 0 130px;}
ul.blog-posts li a:visited {color: var(--visited-color);}
pre{padding: 16px;overflow: auto;line-height: 1.45;background-color:var(--code-background-color);}

